body header {
    height: 80%;
}
body{
    background-image: url("includes/img/fondo.png");
    background-size: cover;
    background-color: black;
	color: #ffffff;
    font-family: Ubuntu;
    max-width: 90pc;
    max-height: none;
    margin:auto;
}

p {
	font-family: Ubuntu;
}

h2{
    font-size: 54px;
}

h3 {
	font-size: 54px;
    font-weight: bold;
    text-shadow: 2px 2px 15px black;
}

em {
	font-weight: bold;
}

label{
  color: white;
  background-color: orange;
  padding: 2px;
  border-radius: 5px;
  border: 5px solid orange;
  display: inline;
}

input[type=text], input[type=password],input[type=email]{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: 3px solid orange;
  border-radius: 10px;
  margin-bottom: 4px;
  display: list-item;
}
input[type=text]:focus, input[type=email]:focus {
  background-color: lightyellow;
}

input[type=checkbox]{
  background-image: url("includes/img/boton_PREMIUM.png");
}

div#usuario {
    left: 99pc;
    display: initial;
    border-radius: 3px;
    list-style-type: none;
    margin: 0;
    max-width: inherit;
    float: right;
    width: 30%;
}

div#pie{
  clear: both;
	padding: 20px;
  text-align: left;
  /*
  position: relative;
  bottom: 0;
  height: 10pc;
*/
}


div#navbar {
    background-color: white;
}

div#menu {
    float:left;
    width:70%;
}
}
div#usuario {
    flex‐direction: row‐reverse;
    float: right;
    width: 30%;
}

div#usuario input{
    width : 50px;
    height :50px;
}

.portada_inicio{
  font-family: Ubuntu;
  position: absolute; /* or absolute */
  top: 70%;
  left: 27%;
}

.portada_inicio button{
  background-color: rgb(255, 192, 56);
  padding: 10px 24px;
  font-family: Ubuntu;
  font-size: xx-large;
  text-align: center;
  color: white;
  border: 4px solid rgb(255, 136, 0);
  border-radius: 22px;
  margin: 10px;

}

.portada_inicio .button3{
  background-color: rgb(136, 136, 136);
  border: 4px solid rgb(41, 41, 41);
}

.portada_inicio button:hover{
  animation: shake 2s cubic-bezier(.36,.07,.19,.97) both;
  animation-delay: 0.2s;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-3px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(5px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-7px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(7px, 0, 0);
  }
}

/*
.escribir_Comentario{
  border-radius: 25px;
  background: #FF8000;
  padding: 10px;
  width: fit-content;
  max-width: fit-content;
  margin: 20px;
}
*/

.eventos {
  border-radius: 25px;
  background: #FF8000;
  display: center;
  padding: 15px;
  height: auto;
  max-width: fit-content;
  margin: 30px;
}

.eventos a{
  color: white;
}

.evento {
  float:left;
  border-radius: 25px;
  background: #FF8000;
  display: center;
  padding: 15px;
  height: fit-content;
  width: 40pc;
  max-width: 50pc;
  margin-top: 30px;
}

div#comentarios {
    float: right;
    width: 35pc;
    padding: 15px;
    height: fit-content;
    margin-top: 30px;
}

textarea {
  border-radius: 10px;
  max-width: inherit;
}

.tarjeta_gris{
  border-radius: 25px;
  background: grey;
  padding: 20px;
  width: auto;
  height: fit-content;
  transition: all .2s ease-in-out;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
  
}

.tarjeta_naranja {
  border-radius: 25px;
  background: #FF8000;
  padding: 20px;
  width: auto;
  height: auto;
  transition: all .2s ease-in-out;
  margin-bottom: 20px;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 20px;
}

.tarjeta_blanca {
  border-radius: 10px;
  background: white;
  color:black;
  padding: 20px;
  width: auto;
  height: fit-content;
  transition: all .2s ease-in-out;
  margin: 5px;
}

.tarjeta_naranja:hover{
    /*transform: scale(1.02);*/
    background: blur(8px);
}

ul li{
  display: initial;
  font-size: large;
  border-radius: 3px;
  list-style-type:none;
  margin: 0;
  background-color: #f1f1f1;
  color: black;
  text-decoration-color: black;
  max-width: inherit;
}

li a {
  color: #000;
  padding: 8px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #555;
  color: orange;
  border-radius: 6px;
}